{{- $chart_name := .Chart.Name }}
{{- $chart_version := .Chart.Version | replace "+" "_" }}
{{- $release_name := .Release.Name }}

---
{{ if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.name }}
    chart: "{{ $chart_name }}-{{ $chart_version }}"
spec:
  rules:
      - host: ""
        http:
          paths: |-
            {{- range $.Values.ingress.paths }}
            - path: {{ . }}
              pathType: Prefix
              backend:
                service:
                  name: {{ .Values.name }}
                  port:
                    number: {{ .Values.containerPort }}
            {{- end }}
{{ end }}
